@model ProjectTest2.Models.League

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>League</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Team.Year)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Team.Year)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Year)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Year)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Club)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Club)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Played)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Played)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Wins)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Wins)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Draws)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Draws)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Losses)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Losses)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.GoalsFor)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.GoalsFor)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.GoalsAgainst)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.GoalsAgainst)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.GoalDifference)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.GoalDifference)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Points)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Points)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.LeagueID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
