@model IEnumerable<Project4thYear.Models.League>


@{
    ViewBag.Title = "League";
}

<h2>League</h2>

@using(Html.BeginForm())
{
    <p>
        <div class="form-group">
            Enter Team Year: @Html.TextBox("searchString")
            <input type="submit" value=" Search" class="btn btn-primary btn-xs"/>
        </div>
    </p>
}


<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LeagueID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Club)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Played)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Wins)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Draws)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Losses)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GoalsFor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GoalsAgainst)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GoalDifference)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Points)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LeagueID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Club)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Played)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Wins)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Draws)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Losses)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GoalsFor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GoalsAgainst)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GoalDifference)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Points)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.LeagueID }) |
                @Html.ActionLink("Details", "Details", new { id = item.LeagueID }) |
                @Html.ActionLink("Bar Chart", "Details", new { id = item.LeagueID })
            </td>
        </tr>
    }

</table>