@model Project4thYear.Models.Team

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Team</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Person)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Person)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Goals)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Goals)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HomeGoals)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HomeGoals)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AwayGoals)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AwayGoals)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstHalfGoals)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstHalfGoals)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SecondHalfGoals)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SecondHalfGoals)
        </dd>

    </dl>
</div>
<p>
     @Html.ActionLink("Back to List", "Index")
</p>
